<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CapturingAppender" class="akka.actor.testkit.typed.internal.CapturingAppender"/>

    <logger name="akka.actor.testkit.typed.internal.CapturingAppenderDelegate">
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CapturingAppender"/>
    </root>

</configuration>
