<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %-5level %logger [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO" />
    <logger name="org.apache.pekko" level="WARN" />
    <logger name="javax.management" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="javax" level="INFO" />

    <logger name="biz.lobachev" level="DEBUG" />

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
